ref=references/human_g1k_v37.fasta
refDict=references/human_g1k_v37.dict
indelsMills=references/Mills_and_1000G_gold_standard.indels.b37.vcf
indels1kg=references/1000G_phase1.indels.b37.vcf
dbSnpVcf=references/dbsnp_138.b37.vcf
cosmic=references/Cosmic68.b37.vcf
regions=references/Broad.human.exome.b37.interval.bed
bed=
